.work-name,
.work-category {
	text-align: center;
}

.work-name {
	margin-top: .3rem;
}

.work-category {
	font-size: 0.8rem;
}

@media screen and (max-width: 900px) {
	.gallery {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 590px) {
	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}