.row {
	width: 100%;
	max-width: 800px;
	margin-bottom: 1rem;
	padding: 0 1rem;
}
.text-row {
	padding: 0 1rem;
	margin-bottom: 1rem;
	width: 100%;
	max-width: 800px;
}

.table {
	display: flex;
	flex-direction: column;
	min-width: 60%;
	margin: 2rem 0;
}

.trow {
	display: flex;
	margin-bottom: .2rem;
	align-items: baseline;
}

.thead,
.tcell,
th, td {
	padding: .5rem;
}

table {
	font-size: 17px;
}

th {
	font-weight: 400;
}

.logframe-matrix {
	overflow-x: scroll;
}

.logframe-matrix td {
	font-weight: 300;
	color: #000;
}

.tsm {
	font-size: 14px;
}

.txs {
	font-size: 12px;
}

.txxs {
	font-size: 10px;
}

.description {
    min-width: 165px;
}

.tcell {
	flex-grow: 1;
}

.head {
	color: #FFF;
	background-color: #4F81BD;
}
.even {
	color: #182738;
	background-color: #D0D8E8;
}
.odd {
	color: #182738;
	background-color: #E9EDF4;
}

.trow p {
	margin-top: 0;
	font-family: "Work Sans", sans;
	font-size: 17px;
	font-weight: 300;
	color: #000;
}
.trow p:last-child {
	margin-bottom: .5rem;
}
.thead {
	min-width: 90px;
	max-width: 90px;
	font-family: "Work Sans", sans;
	font-size: 17px;
	font-weight: 400;
}
.head p {
	color: #FFF;
}

@media screen and (max-width: 816px) {
	.thead,
	.tcell p {
		font-size: 15px;
	}

	.trow {
		flex-direction: column;
	}
}

@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}

	.logframe-table {
		order: 1;
	}

	.text-row {
		margin-bottom: 0;
	}
}

#content {
	flex-direction: column;
	justify-content: flex-start;
	height: auto;
}



.logframe-table img {
	width: 100%;
}

.wireframe {
    display: flex;
    justify-content: center;
	width: 100%;
	margin: 2rem 0;
	
}

.wireframe img {
	height: 100%;
}

.dashboard {
	background-image: url("../images/portfolio/logframe/01_Dashboard.png");
	background-size: contain;
	max-width: 100%;
	max-height: auto;
}

.row-wireframe {
	flex-direction: column;
}

