.row {
	width: 100%;
	max-width: 800px;
	margin-bottom: 1rem;
}
.text-row {
	padding: 0 1rem;
	margin-bottom: 1rem;
	width: 100%;
	max-width: 800px;
}

.portfolio-pic {
	width: 100%;
}

#content {
	flex-direction: column;
	justify-content: flex-start;
	height: auto;
}

.portfolio-video-container {
	position: relative;
	max-width: 720px;
}

.portfolio-video-container iframe {
	width: 100%;
}

.portfolio-video-container::before {
	content: "";
	position: absolute;
	z-index: 20;
	width: 2px;
	height: 100%;
	left: 0;
	top: 0;
	background-color: white;
}

.portfolio-video-container::after {
	content: "";
	position: absolute;
	z-index: 20;
	width: 2px;
	height: 100%;
	right: 0;
	top: 0;
	background-color: white;
}

@media screen and (max-width: 760px) {
	#final-cut {
		padding: 0 1rem;
	}
}