.row {
	width: 100%;
	max-width: 800px;
	margin-bottom: 1rem;
}
.text-row {
	padding: 0 1rem;
	margin-bottom: 1rem;
	width: 100%;
	max-width: 800px;
}

.portfolio-pic {
	width: 100%;
}

#content {
	flex-direction: column;
	justify-content: flex-start;
	height: auto;
}